<div layout="column" flex layout-fill>
<md-content>

  <section layout="column" layout-align="space-between">
    <table>
      <thead>
        <tr class="blue">
          <th>Parameter</th>
          <th>Type</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
          <tr >
            <td style="white-space: nowrap;">
              md-scroll-shrink

              <span hide="" show-sm="">
                <code class="label type-hint type-hint-boolean">boolean</code></span>
            </td>
            <td style="white-space: nowrap;">
                <code class="label type-hint type-hint-boolean">boolean</code>
            </td>
            <td class="description">
              <p>
                Whether the header should shrink away as the user scrolls down, and reveal itself as the user scrolls up. Note: for scrollShrink to work, the toolbar must be a sibling of a <code>md-content</code> element, placed before it. See the scroll shrink demo.
              </p>


            </td>
          </tr>
          <tr >
            <td style="white-space: nowrap;">
              something else
              <span hide="" show-sm="">
                <code class="label">number</code>
                </span>
            </td>
            <td style="white-space: nowrap;">
                <code class="label">number</code>
            </td>
            <td class="description">
              <p>
                How much to change the speed of the toolbar's shrinking by. For example, if 0.25 is given then the toolbar will shrink at one fourth the rate at which the user scrolls down. Default 0.5.
              </p>
            </td>
          </tr>
      </tbody>
    </table>
    <table>
      <thead>
        <tr class="purp">
          <th>Parameter</th>
          <th>Type</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
          <tr >
            <td style="white-space: nowrap;">
              md-scroll-shrink

              <span hide="" show-sm="">
                <code class="label type-hint type-hint-boolean">boolean</code></span>
            </td>
            <td style="white-space: nowrap;">
                <code class="label type-hint type-hint-boolean">boolean</code>
            </td>
            <td class="description">
              <p>
                Whether the header should shrink away as the user scrolls down, and reveal itself as the user scrolls up. Note: for scrollShrink to work, the toolbar must be a sibling of a <code>md-content</code> element, placed before it. See the scroll shrink demo.
              </p>


            </td>
          </tr>
          <tr >
            <td style="white-space: nowrap;">
              something else
              <span hide="" show-sm="">
                <code class="label">number</code>
                </span>
            </td>
            <td style="white-space: nowrap;">
                <code class="label">number</code>
            </td>
            <td class="description">
              <p>
                How much to change the speed of the toolbar's shrinking by. For example, if 0.25 is given then the toolbar will shrink at one fourth the rate at which the user scrolls down. Default 0.5.
              </p>
            </td>
          </tr>
      </tbody>
    </table>
    <table>
      <thead>
        <tr class="green">
          <th>Parameter</th>
          <th>Type</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
          <tr >
            <td style="white-space: nowrap;">
              md-scroll-shrink

              <span hide="" show-sm="">
                <code class="label type-hint type-hint-boolean">boolean</code></span>
            </td>
            <td style="white-space: nowrap;">
                <code class="label type-hint type-hint-boolean">boolean</code>
            </td>
            <td class="description">
              <p>
                Whether the header should shrink away as the user scrolls down, and reveal itself as the user scrolls up. Note: for scrollShrink to work, the toolbar must be a sibling of a <code>md-content</code> element, placed before it. See the scroll shrink demo.
              </p>


            </td>
          </tr>
          <tr >
            <td style="white-space: nowrap;">
              something else
              <span hide="" show-sm="">
                <code class="label">number</code>
                </span>
            </td>
            <td style="white-space: nowrap;">
                <code class="label">number</code>
            </td>
            <td class="description">
              <p>
                How much to change the speed of the toolbar's shrinking by. For example, if 0.25 is given then the toolbar will shrink at one fourth the rate at which the user scrolls down. Default 0.5.
              </p>
            </td>
          </tr>
      </tbody>
    </table>

  </section>

</md-content>
<md-grid-list md-cols="4" md-row-height="200px">
  <md-grid-tile md-rowspan="2" md-colspan="4" md-colspan-sm="2">
      <img src="../images/charts/chart.svg">
    <md-grid-tile-footer>
      <h3>#1: (3r x 2c)</h3>
    </md-grid-tile-footer>
  </md-grid-tile>

  <md-grid-tile md-rowspan="2" md-colspan="2" md-colspan-sm="1">

    <img src="../images/charts/line.svg">
    <md-grid-tile-footer>
      <h3>#4: (2r x 1c)</h3>
    </md-grid-tile-footer>
  </md-grid-tile>
  <md-grid-tile md-rowspan="2" md-colspan="2" md-colspan-sm="1">
    <img src="../images/charts/scatter.svg">
    <md-grid-tile-footer>
      <h3>#5: (2r x 2c)</h3>
    </md-grid-tile-footer>
  </md-grid-tile>
  </md-grid-list>
</div>